.App{
 display: flex;
 flex-direction: column;
 align-items: center;

}






.appButton{

width: 30%;
background-color: blueviolet;
color: white;
padding: 10px;
font-size: 15px;
border-radius: 10px;
border: 1px solid blueviolet;
}

.courseList{


  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}